<div id='cart'>
  {{#if courses.length}}
    <h1>Cart</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>
            Price
          </th>
          <th>
            Amount
          </th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {{#each courses}}
          <tr>
            <td>
              <img src={{img}} alt={{title}} style='width: 32px;' />
            </td>
            <td>{{title}}</td>
            <td>{{price}}</td>
            <td>{{count}}</td>
            <td>
              <span
                style='color: red; cursor: pointer;'
                class='js-remove'
                data-id={{id}}
                data-csrf={{@root.csrf}}
              >Delete</span>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <p>
      <span
        style='font-size: 2rem; font-weigth: 600; font-style: italic;'
      >Total:</span>
      <span class='price'>{{price}}</span></p>
    <form action='/orders' method='post'>
      <input type='hidden' name='_csrf' value='{{csrf}}' />
      <button type='submit' class='btn btn-primary'>Order</button>
    </form>
  {{else}}
    <h1>Cart is empty</h1>
  {{/if}}
</div>