<h1>Courses</h1>
{{#if courses.length}}
  {{#each courses}}
    <div class='row'>
      <div class='col s6 m6'>
        <div class='card'>

          <div class='card-image'>
            <img src='{{img}}' class='img' />
            <span class='card-title title'>
              {{title}}
            </span>
          </div>

          <div class='card-content price'>
            <p>{{price}}</p>
          </div>

          <div class='card-action btns'>
            <a href='/courses/{{_id}}' target='_blank'>Course details</a>
            {{#if @root.isLoggined}}
              {{#ifeq userId._id @root.userId}}
                <a href='/courses/{{_id}}/edit?allow=true'>Edit course</a>
              {{/ifeq}}
              <form action='/cart/add' method='post'>
                <input type='hidden' name='_csrf' value='{{@root.csrf}}' />
                <input type='hidden' name='id' value={{id}} />
                <button type='submit' class='btn btn-primary'>Add to Cart</button>
              </form>
            {{/if}}
          </div>

        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <h1>There is no courses</h1>
{{/if}}