<div
  class='container'
  style='margin-top: 32px; box-shadow: 0 0 6px 1px rgba(0, 0, 255, .2); padding: 8px; border-radius: 6px'
>
  {{#if orders.length}}
    {{#each orders}}
      <div>
        <strong> Order ID: </strong>
        <em>{{_id}}</em>
      </div>
      <div>
        <strong> user name: </strong>
        <em>{{user.userId.name}}</em>
      </div>
      <div>
        <strong> date: </strong>
        <em class='date'>{{date}}</em>
      </div>
      <div>
        {{#each courses}}
          <strong>Count of course ({{course.title}}) --------</strong>
          <em>{{count}}</em>
        {{/each}}
      </div>
      <div style='margin-bottom: 32px;'>
        <strong>Total price -------- </strong>
        <em>{{price}}</em>
      </div>

    {{/each}}
  {{else}}
    <h1>There are no orders</h1>
  {{/if}}
</div>